<span class="icon icon-size-{{ size ?? 'small' }} icon-state-default icon-actions-{{ class ?? name }}">
    <span class="icon-markup">
        <svg class="icon-color">
            <use xlink:href="{{ asset('EXT:core/Resources/Public/Icons/T3Icons/sprites/actions.svg') }}#actions-{{ name }}"></use>
        </svg>
    </span>
</span>
