<div class="form-row justify-content-between">
    <div class="form-group">
        <div class="input-group">
            <label for="search" class="btn btn-default disabled" style="min-width: 8rem">search</label>
            <input id="search" name="filters[search]" value="{{ filters.search }}" class="form-control" style="min-width:15rem" />
            <label class="form-control btn btn-default" style="width:auto">
                    <span class="form-check form-check-type-toggle">
                        <input type="checkbox" name="filters[advancedSearch]" value="1" {% if filters.advancedSearch %}checked="checked"{% endif %} class="form-check-input" />
                    </span>
                include job data
            </label>
            <label class="form-control btn btn-default" style="width:auto">
                    <span class="form-check form-check-type-toggle">
                        <input type="checkbox" name="filters[searchExactMatch]" value="1" {% if filters.searchExactMatch %}checked="checked"{% endif %} class="form-check-input" />
                    </span>
                exact match
            </label>
        </div>
    </div>
</div>
